.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 2vw;
  font-size: 20px;

  @media (max-width: 576px){
    font-size: 18px;
    padding-bottom: 25px;
  }

  @media (max-width: 576px){
    flex-wrap: wrap;
  }

  * {
    font-family: "Oswald", serif;
  }

  p:first-child{
    font-family: "Bodoni Moda", serif;
    font-weight: 700;
    font-size: 26px;
  }

  p:last-child{
    cursor: pointer;
  }
}
