.navbarHome__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 3vw;

  .menuHighlights {
    display: flex;
    align-items: center;
    gap: 3rem;
    flex: 1 1 0;

    div:nth-child(2) {
      border-left: 1px solid #000;
      border-right: 1px solid #000;
      padding: 0 3rem;
    }

    &.right {
      justify-content: flex-end;
    }

    p {
      font-family: "Playfair Display", serif;
    }

    h3 {
      text-transform: uppercase;
      font-family: "Oswald", sans-serif;
      font-weight: 400;
    }
  }

  .menu__container {
    flex: 1 1 0;
    text-align: center;
    max-width: 22vw;
    position: relative;

    .menuItems {
      background: #f4f5f0;
      display: flex;
      align-items: center;
      border: 1px solid #000;
      padding: 7px 10px;
      gap: 10px;
      position: fixed;

      input {
        flex: 1;
        font-size: 20px;
        border: transparent;
        background: transparent;
        font-family: "Oswald", sans-serif;

        &:focus {
          outline: transparent;
        }
      }

      .MuiButton-root {
        min-width: 0;
        padding: 0 10px;
        border-radius: 0;

        &.borderRight {
          border-right: 1px solid #000;
        }

        i {
          font-size: 22px;
          color: #000;
        }
      }
    }

    .menu__logo h1 {
      font-family: "Bodoni Moda", serif;
      font-weight: 700;
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      behavior: smooth;
    }
  }
}
