.landing__container {
  margin-top: 250px;

  .landing__banner {
    width: 100vw;
    height: 60vh;
    object-fit: cover;
    // padding: 0 20px;
    object-position: center;
  }

  .landing__introduction {
    margin: 80px auto;
    max-width: 50vw;
    text-align: center;

    h1 {
      text-align: center;
      font-family: "Playfair Display", serif;
      font-weight: 500;
      margin: 0;
      font-size: 32px;

      span {
        font-family: "Bodoni Moda", serif;
        font-weight: 700;
      }
    }

    .star {
      margin: 20px 0 0 0;
      font-size: 50px;
    }

    .description {
      font-size: 20px;
      line-height: 1.5;
      font-family: "Lato", sans-serif;

      span {
        font-family: "Bodoni Moda", serif;
        font-weight: 600;
      }
    }

    .joinZetsy {
      color: #000;
      font-size: 25px;
      margin-top: 40px;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      p {
        text-decoration: underline;
        font-family: "Playfair Display", serif;
        font-weight: 600;
      }
    }
  }

  .landing__services {
    margin: 0 1.5vw;

    h1 {
      font-family: "Playfair Display", serif;
      font-weight: 600;
      margin: 0;
      font-size: 42px;
      margin-bottom: 20px;
    }

    .services__container {
      display: flex;
      align-items: flex-start;
      margin-bottom: 80px;

      .service {
        flex: 1 1 0;
        padding: 0 20px;
        border-left: 1px solid #000;
        min-height: 600px;

        &:first-child {
          border-left: none;
          padding-left: 0;
        }

        &:last-child {
          padding-right: 0;
        }

        img {
          width: 100%;
        }

        span {
          font-family: "Bodoni Moda", serif;
          font-weight: 700;
          font-size: 16px;
          display: block;
        }

        h2 {
          text-transform: uppercase;
          font-family: "Oswald", sans-serif;
          font-weight: 400;
          font-size: 20px;
          margin-bottom: 5px;
        }

        p {
          font-size: 16px;
          line-height: 1.5;
          font-family: "Lato", sans-serif;
        }
      }
    }
  }
}
